{% extends 'crud/base.html' %}

{% block body %}
<form class="form-inline"  action="create" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="firstname">Nombre</label>
        <input type="text" name="firstname" class="form-control" style="width:50%;" required="required"/>
        <br />
        <label for="lastname">Apellido</label>
        <input type="text" name="lastname" class="form-control" style="width:50%;" required="required"/>
        <br />
        <label for="nro_doc">nro_doc</label>
        <input type="text" name="nro_doc" class="form-control" style="width:60%;" required="required"/>
        <br />
        <label for="fecha_nacimiento">fecha_nacimiento</label>
        <input type="date" name="fecha_nacimiento" class="form-control" style="width:60%;" required="required"/>
        <br />
        <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> ADD</button>
        <br />

        <a href="https://www.google.com/">Ir a Google</a>

    </div>
</form>

<form method="GET" action="search">
  <div class="form-inline">
    <input type="text" placeholder="Search" name="search" class="form-control" required="required" />
    <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span> Search</button>
  </div>
</form>

<br />
<table class="table table-bordered">
    <thead class="alert-warning">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.firstname }}</td>
            <td>{{ member.lastname }}</td>
            <td><center><a class="btn btn-sm btn-warning" href="edit/{{ member.id }}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a class="btn btn-sm btn-danger" href="delete/{{ member.id }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></center></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
